# Dependecies Directory
node_modules

# ignore package-lock
package-lock.json
yarn.lock
yarn-error.log

# ignore built ts files
dist/**/*

# ignore secret keys
.env
.env.test

# ignore coverage
coverage

# ignore logs
debug.log
errors.log